@media (max-width:600px) {
    .hiden600{
        display:none;
    }
    .find600{
        display: block;
    }
    .container nav{
        padding: 0 8px ;
        width: 45px ;
    }
    .container main,
    .container main .top{
        width: calc(100% - 45px);
    }
    .container nav li, 
    .container nav #logo-small,
    .container nav .account {
	    padding: 0;
    }
    .container nav .home .icon {
	    width: 100%;
    }
    .container nav .home .curent {
	    border: 0px;
    }
    .container nav .account {
	    width: calc(100% - 16px);
    }
    .container nav .account > a:first-child {
	justify-content: center;
    }
    .container nav .account .install {
     width: 20px;
     margin-right: 0; 
    }

    .container nav .account > div:last-child {
    	border-top: 0;
    }
    .container nav .account > div:last-child {
    	padding-top: 5px;
    }

    .container nav .account .icon {
	    width: 100%; 
    }
}

@media(max-height:400px){
    .hidenh400{
        display: none;
    }
}




@media (max-width:1100px) {
    main .bottom .song{
        width: calc((100% / 4) - 10px);
    }
}

@media (max-width:700px) {
    main .bottom .song{
        width: calc((100% / 2) - 10px);
    }
}